<h1 class="text-center"><%= @article.title %></h1>
<div class="well col-sm-8 col-sm-offset-2">
  <h4 class="text-center">Description:</h4>
  <hr>
  <%= simple_format(@article.description) %>
  <div class="article-actions">
    <%= link_to "edit article", edit_article_path(@article), class: "btn btn-xs btn-primary" %>
    <%= link_to "delete article", article_path(@article),
                                    method: :delete,
                                    data: {confirm: "Are you sure?"},
                                    class: "btn btn-xs btn-danger" %>
    <%= link_to "all articles", articles_path, class: "btn btn-xs btn-success" %>
  </div>
</div>
